.root {
    margin: 0px;
    padding: 0px;
    z-index: 12;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #666;
}

@media screen and (min-width: 768px) {
    .root {
        margin: 14px;
        padding: 12px;
    }
}
