@import '../../styles/variables.scss';

.LoadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;

    path {
        stroke: $ColorPrimary;
        stroke-width: 8px;
    }
}
