.icon-button {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 2px;

  :focus {
    outline: none;
  }
}
