@import "../../styles/animations.scss";

@import "../../styles/variables.scss";


.VehicleCard {
  animation: fadeIn .7s ease-out forwards;
  cursor: pointer;
  font-size: .8rem;
  width: 460px;

  .VehicleCardContent {
    display: flex;
    text-align: center;
    width: 100%;
  }

  header {
    color: #000;
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .3rem;
    margin-bottom: 0;

    h2 {
      margin-bottom: 2px;
    }
  }

  .ContentContainer {
    flex: 1;
    padding-left: 18px;
    text-align: left;

    .Pricing {
      font-size: .85rem;
      font-weight: 500;
      letter-spacing: .1rem;
    }

    .Description {
      font-size: .7rem;
      letter-spacing: .03rem;
    }
  }

  .ImageContainer {
    aspect-ratio: 1 / 1;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 120px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .ImageWide {
      display: none;
    }

    .ImageSquare {
      display: block;
    }
  }
}

// Hover effect
.VehicleCard {

  img {
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
}

.VehicleCard:hover {

  .ImageContainer>img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);

  }
}

// Responsive design
@media screen and (min-width: $screen-size-tablet) {

  .VehicleCard {
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);

    .VehicleCardContent {
      flex-direction: column;
    }

    header {
      justify-content: center;

      h2 {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        margin-bottom: 20px;
        padding: 2px;
      }
    }

    .ImageContainer {
      aspect-ratio: 16 / 9;
      height: auto;
      width: 100%;

      .ImageWide {
        display: block;
      }

      .ImageSquare {
        display: none;
      }
    }

    .ContentContainer {
      padding: 2px 12px;
      text-align: center;

      .Pricing {
        color: #555;
        font-weight: normal;
      }

      .Description {
        font-size: .85rem;
      }
    }
  }
}
