@import '../../styles/variables.scss';

$VehicleListColumns: 1;

.VehicleList {
    width: 100%;
    list-style-type: none;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    > :not(:last-child) {
        .ContentContainer {
            border-bottom: 1px solid #eee;
        }
    }

    >* {
        width: 100%;
        max-width: 800px;
    }
}

@media (min-width: $ScreenSizeTablet) {
    .VehicleList {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        > :not(:last-child) {
            .ContentContainer {
                border-bottom: none;
            }
        }
    }
}

@media (min-width: $ScreenSizeDesktop) {
    .VehicleList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: $ScreenSizeLargeDesktop) {
    .VehicleList {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
