@import "../../styles/variables.scss";

.VehicleList {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: center;
  list-style-type: none;
  width: 100%;

  @for $i from 1 through 10 {
    .VehicleCard:nth-child(#{$i}n) {
      animation-delay: #{$i * .1}s;
    }
  }

  > :not(:last-child) {

    .ContentContainer {
      border-bottom: 1px solid #eee;
    }
  }

  >* {
    max-width: 800px;
    width: 100%;
  }
}

@media (min-width: $screen-size-tablet) {

  .VehicleList {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    > :not(:last-child) {

      .ContentContainer {
        border-bottom: 0;
      }
    }
  }
}

@media (min-width: $screen-size-desktop) {

  .VehicleList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: $screen-size-large-desktop) {

  .VehicleList {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
