.root {
    margin: 7px;
    padding: 6px;
    z-index: 12;
    font-family: sans-serif;
    color: #666;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .root {
        margin: 14px;
        padding: 12px;
    }
}
